<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OutsourcingEntities" connectionString="metadata=res://*/Models.OutsourcingEntities.csdl|res://*/Models.OutsourcingEntities.ssdl|res://*/Models.OutsourcingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.109.36.125;initial catalog=CRM;user id=lilotech;password=lilotech@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OutsourcingDBEntities" connectionString="metadata=res://*/Models.OutsourcingEntities.csdl|res://*/Models.OutsourcingEntities.ssdl|res://*/Models.OutsourcingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CHUOR6B;initial catalog=CRM;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>